*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

#header a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 40px;
    height: 40px;
}

#btn-hamb {
    display: block;
    position: relative;
    z-index: 6;
}

#menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 99px;
    margin-left: 32px;
    gap: 32px;
    position: fixed;
    top: 0;
    left: 150px;
    width: 100%;
    height: 0px;
    z-index: 5;
    transition: .5s cubic-bezier(.74,-0.27,.41,1.18);
    overflow-y: hidden;

}

#menu a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

#bg-color {
    height: 0px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    z-index: 2;
    position: fixed;
    top: 0;
    left: 150px;
    width: 100%;
    transition: 1s;
    overflow-y: hidden;

}

#nav.active #menu {

    height: 100vh;
    overflow-y: auto;
}

#nav.active #bg-color {

    height: 100vh;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    overflow-y: auto;
}

.home-main-section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main-section h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 2.7px;
}

.home-main-section h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 100px;
    margin-bottom: 1rem;
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.home-main-section p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5rem;
    line-height: 1.5rem;
    font-family: 'Barlow', sans-serif;
}

/*.btn-explore {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: auto;
    font-family: 'Bellefair', sans-serif;
    letter-spacing: 1.25px;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 48px;
}

.explore:hover {
    outline: 30px solid #252730;
}

/* Tablet screen */

@media screen and (min-width: 768px) {
    body{
        background-image: url(../assets/home/background-home-tablet.jpg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #header {
        display: flex;
        justify-content: space-between;
        padding: 0rem;
        align-items: center;
        margin-bottom: 6.62rem;
    }

    .logo {
        margin-left: 39px;
    }

    .logo img {
        width: 48px;
        height: 48px;
    }

    #nav {
        width: 450px;
        height: 96px;
        background-color: #161924;
    }

    #menu {
        display: flex;
        flex-direction: row;
        height: 96px;
        margin: 0px 0px 0px 30px;
        margin-top: 0px;
        align-items: center;
        position: static;
        width: 356px;
        font-size: 14px;
        overflow: hidden;
        transition: 0s;
    }

    #menu li:first-child {
        border-bottom: 2px solid white;
        padding-top: 32px;
        padding-bottom: 28px;
    }

    #menu a {
        font-size: 14px;
    }

    #btn-hamb {
        display: none;
    }

    .home-main-section {
        padding: 0rem 9.9rem;
    }

    .home-main-section h3 {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        letter-spacing: 0.21rem;
    }

    .home-main-section h1 {
        font-size: 9.3rem;
        margin-bottom: 2rem;
        line-height: 150px;
    }

    .home-main-section p {
        font-size: 1rem;
        margin-bottom: 5rem;
        line-height: 1.75rem;
        margin-bottom: 9.75rem;
    }

    .explore {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        width: 15.12rem;
        height: 15.12rem;
        outline: 0rem solid #252730;
        margin-bottom: 90px;
    }

    .explore:hover {
        outline: 3rem solid rgba(255, 255, 255, 0.4);
    }
}

/* Desktop screen */

@media screen and (min-width: 1440px) {
    body{
        background-image: url(../assets/home/background-home-desktop.jpg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #header {
        display: flex;
        justify-content: space-between;
        padding: 0rem;
        align-items: center;
        margin-bottom: 6.62rem;
        margin-top: 2.5rem;
    }

    .logo {
        margin-left: 55px;
    }

    .logo img {
        width: 48px;
        height: 48px;
    }

    #nav {
        width: 830px;
        height: 96px;
        background: rgba( 255, 255, 255, 0.05 );
        
        backdrop-filter: blur( 16.5px );
        -webkit-backdrop-filter: blur( 16.5px );
    }

    #menu {
        display: flex;
        flex-direction: row;
        height: 96px;
        margin: 0px 165px 0px 123px;
        align-items: center;
        justify-content: center;
        position: static;
        width: 542px;
        font-size: 16px;
        overflow: hidden;
        transition: 0s;
    }

    #menu li:first-child {
        border-bottom: 2px solid white;
        padding-top: 39px;
        padding-bottom: 35px;
    }

    #menu li:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        padding-top: 39px;
        padding-bottom: 35px;
    }

    .home-main-section {
        margin-top: 15.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0rem 0rem;
    }

    .home-main-section h3 {
        font-size: 1.75rem;
        margin-bottom: 2rem;
        letter-spacing: 0.21rem;
    }

    .home-main-section h1 {
        font-size: 9.375rem;
        margin-bottom: 2rem;
        line-height: 150px;
    }

    .home-main-section p {
        font-size: 1.125rem;
        margin-bottom: 5rem;
        line-height: 1.75rem;
        margin-bottom: 10rem;
    }

    .infos {
        width: 450px;
        height: 382px;
        margin-left: 165px;
    }

    .explore {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        width: 17.1rem;
        height: 17.1rem;
        outline: 0rem solid #252730;
        margin-right: 165px;
        margin-bottom: 0rem;
    }

    .btn-explore {
        justify-content: flex-end;
    }
}
